/*
 * generated with CSS2Compass.class.php by Sebastian Pontow
 * http://sebastianpontow.de/css2compass/
 * Contact: me@sebastianpontow.de
 */

@import "compass/css3";
//@import "base";

//add the following variables to your _base.scss:
//-------------------------
$color_0: #888;
$color_1: #476f9a;
$color_2: #666;
$color_3: #bbb;
$color_4: #93bec7;
$color_5: #fff;
$color_6: #89b2ba;
$color_7: #f0f0f0;
$color_8: #999;
$color_9: #555;
$color_10: #777;
$color_11: #273138;
$color_12: #1e262b;
$color_13: #716e9e;
$color_14: #676591;
$color_15: #efaf40;
$color_16: #e5a029;
$color_17: #94c174;
$color_18: #8cb76e;
$color_19: #4794ad;
$color_20: #438aa0;
$color_21: #c95353;
$color_22: #bc4f4f;
$color_23: #5ab093;
$color_24: #56a589;
$color_25: #667e91;
$color_26: #5e7384;
$color_27: #60ba9a;
$color_28: #5c5c5c;
$color_29: #d15757;
$color_30: #5a8ab0;
$color_31: #6093ba;
$color_32: #a2a2a2;
$color_33: #aaa;
$color_34: #f7c142;
$color_35: #73716e;
$color_36: #30343a;
$color_37: #5e6872;
$color_38: #273d55;
$color_39: #878787;
$color_40: #222529;
$color_41: #1d2023;
$color_42: #17191c;
$color_43: #111;
$color_44: #000;
$color_45: #2c3035;
$color_46: #efefef;
$color_47: #ddd;
$color_48: #6288b2;
$color_49: #4c7199;
$color_50: #d6d6d6;
$color_51: #fcfcfc;
$color_52: #f1f1f1;
$color_53: #f9f9f9;
$color_54: #708daa;
$color_55: #458771;
$color_56: #3d5d7f;
$color_57: #d9534f;
$color_58: #ccc;
$color_59: #eee;
$color_60: #d38434;
$color_61: #ad4140;
$color_62: #92bdc7;
$color_63: #fafafa;
$color_64: #f0ad4e;
$color_65: #cc8726;
$color_66: #e8963a;
$color_67: #aa312f;
$color_68: #c44a4a;
$color_69: #9ec986;
$color_70: #739161;
$color_71: #85a870;
$color_72: #d2d2d2;
$color_73: #3f6387;
$color_74: #e5e5ef;
$color_75: #36434d;
$color_76: #f2f2f2;
$color_77: #29323a;
$color_78: #ebebeb;
$color_79: #8ab089;
$color_80: #82a581;
$color_81: #b05454;
$color_82: #838d95;
$color_83: #222;
$color_84: #f7f7f7;
$color_85: #7499c1;
$color_86: #e8e8e8;
$color_87: #f5f5f5;
$color_88: #333;
$color_89: #fffed4;
$color_90: #fdfdfd;
$color_91: #dadada;
$color_92: #536675;
$color_93: #41505b;
$color_94: #38454f;
$color_95: #444;
$color_96: #9ac8d1;
$color_97: #688fba;
$color_98: #74979e;
$color_99: #7ca0a8;
//--------------------------

%extend_1 {
	height: 100%;
	overflow: hidden;
	color: $color_0;
}
%extend_2 {
	color: $color_37;
	height: 100%;
	display: block;
}
%extend_3 {
	background-color: $color_42;
	@include box-shadow(inset 0 0 15px $color_43);
	border-top: 1px solid $color_44;
	border-bottom: 1px solid $color_44;
}
%extend_4 {
	color: $color_10;
	width: 100%;
	font-size: 0.9em;
}
%extend_5 {
	margin-bottom: 0;
	padding-right: 0;
	margin-right: 0;
	margin: 0;
	padding: 5px 0;
}
%extend_6 {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin-right: 4px;
}
%extend_7 {
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}
%extend_8 {
	display: block;
	position: relative;
	left: 0;
	margin: 0;
	top: 6px;
	cursor: pointer;
}
%extend_9 {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 18px solid;
	position: relative;
	z-index: 1;
}
%extend_10 {
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
%extend_11 {
	background: $color_4;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	position: absolute;
}
%extend_12 {
	list-style-type: none;
	font-size: 0.9em;
	font-weight: normal;
}
html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
	padding: 0 !important;
	a {
		cursor: pointer;
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
	.row-fluid[class*="span"] {
		min-height: 0;
		line-height: 26px;
	}
	h1 {
		color: $color_1;
	}
	h2 {
		color: $color_1;
	}
	h3 {
		color: $color_1;
	}
	h4 {
		color: $color_1;
	}
	h5 {
		color: $color_1;
	}
	h6 {
		color: $color_1;
	}
	table {
		width: 100%;
		color: $color_2;
		a {
			color: $color_2;
			font-weight: normal;
			display: block;
			&:hover {
				text-decoration: none;
				color: $color_3;
			}
		}
		.status-width {
		}
		th a {
			display: inline;
			font-weight: bold;
		}
	}
	.table {
		td {
			font-size: 0.85em;
			vertical-align: middle;
			padding: 3px 4px;
			line-height: 12px;
		}
		margin-bottom: 0;
		th {
			font-weight: bold;
			text-transform: uppercase;
			line-height: 22px;
			padding: 5px 4px;
		}
	}
	#ticket-number {
		color: $color_9;
		font-weight: bold;
	}
	.highlight {
		border: 2px solid $color_35;
		border-left: none;
		border-right: none;
	}
	#innermenu {
		.row-fluid[class*="span"] {
			min-height: 10px !important;
		}
		div .date-with-img {
			width: 84%;
		}
	}
	.innermenu-content {
		.item-name {
			font-size: 0.8em !important;
			font-weight: bold !important;
		}
		.item-input {
			font-size: 0.8em !important;
		}
	}
	.mCSB_container {
		margin-right: 15px;
	}
	.mCSB_scrollTools {
		.mCSB_dragger {
			.mCSB_dragger_bar {
				background: $color_58;
			}
			&:active .mCSB_dragger_bar {
				background: $color_3;
			}
			&.mCSB_dragger_onDrag .mCSB_dragger_bar {
				background: $color_3;
			}
			&:hover .mCSB_dragger_bar {
				background: $color_3;
			}
		}
		.mCSB_draggerRail {
			background: $color_59;
			width: 4px;
		}
		background: $color_5;
	}
	.mCSB_draggerContainer {
		margin: 10px 0;
	}
	#content {
		.mCSB_horizontal>.mCSB_scrollTools {
			.mCSB_draggerRail {
				width: 100%;
				height: 4px;
				@include border-radius(10px);
				margin: auto auto;
			}
			.mCSB_dragger .mCSB_dragger_bar {
				width: 100%;
				height: 3px;
				margin: 1px auto;
				@include border-radius(10px);
			}
		}
		.mCSB_horizontal .mCSB_draggerContainer {
			margin-top: 0;
		}
	}
	button {
		padding: 8px 2%;
		@include border-radius(4px);
	}
	#form-login {
		input[type="text"] {
			padding: 6px 2%;
			width: 96%;
		}
		textarea {
			padding: 6px 2%;
			width: 96%;
		}
	}
	select {
		@extend %extend_4;
		padding-left: 0;
	}
	textarea {
		@extend %extend_4;
	}
	input[type="text"] {
		@extend %extend_4;
	}
	input[type="password"] {
		@extend %extend_4;
	}
	form {
		margin: 0;
		padding: 0;
	}
	.icheckbox_square-grey {
		@extend %extend_6;
	}
	.iradio_square-grey {
		@extend %extend_6;
	}
	input[disabled] {
		background-color: $color_5;
	}
	select[disabled] {
		background-color: $color_5;
	}
	textarea[disabled] {
		background-color: $color_5;
	}
	input[readonly] {
		background-color: $color_5;
	}
	select[readonly] {
		background-color: $color_5;
	}
	textarea[readonly] {
		background-color: $color_5;
	}
	#ui-datepicker-div {
		.ui-widget-header {
			background: $color_84;
			border: 1px solid $color_52;
			font-size: 10px;
			font-family: arial, sans-serif;
			margin-bottom: 3px;
		}
		.ui-datepicker-title {
			font-family: arial, sans-serif;
		}
		.ui-state-active {
			&:hover {
				background: $color_4;
			}
			background-color: $color_85;
			color: $color_5;
			border: 1px solid $color_85;
		}
	}
	.ui-datepicker {
		select {
			&.ui-datepicker-month {
				width: 35%;
				margin-right: 4px;
			}
			&.ui-datepicker-year {
				width: 35%;
				margin-right: 4px;
			}
		}
		.ui-datepicker-prev {
			span {
				@extend %extend_8;
				left: 6px;
			}
			top: 10px;
			cursor: pointer;
			left: 16px;
		}
		.ui-datepicker-next {
			span {
				@extend %extend_8;
				left: 7px;
			}
			top: 10px;
			cursor: pointer;
			right: 16px;
		}
	}
	.ui-state-hover {
		border: none;
	}
	.mce-panel {
		border: 0 solid $color_50;
	}
	.mce-ico {
		width: 16px;
		height: 16px;
	}
	.subject-header {
		width: 100px;
		display: inline-block;
		*display: inline;
		zoom: 1;
		font-weight: bold;
		position: relative;
	}
	.layout-helper {
		a {
			text-decoration: none;
			color: inherit;
			font-weight: bold;
			display: block;
			&:hover {
				color: $color_4;
			}
		}
		color: inherit;
	}
	.align-left {
		float: left;
	}
	.align-right {
		float: right;
	}
	.default-padding {
		padding: 10px !important;
	}
	.padding-top-bottom {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
	.default-margin {
		margin: 20px !important;
	}
	.margin-bottom-5px {
		margin-bottom: 5px !important;
	}
	.margin-left {
		margin-left: 10px !important;
	}
	.margin-right {
		margin-right: 10px !important;
	}
	.margin-top {
		margin-top: 10px !important;
	}
	.null-margin {
		margin: 0 !important;
	}
	.null-margin-top {
		margin-top: 0 !important;
	}
	.null-margin-bottom {
		margin-bottom: 0 !important;
	}
	.null-margin-left {
		margin-left: 0 !important;
	}
	.null-margin-right {
		margin-right: 0 !important;
	}
	.null-padding {
		padding: 0 !important;
	}
	.null-padding-top {
		padding-top: 0 !important;
	}
	.align-top {
		vertical-align: top !important;
	}
	.hide {
		display: none;
	}
	.display {
		display: block !important;
	}
	.display-inline {
		display: inline-block !important;
		*display: inline;
		zoom: 1;
		vertical-align: middle !important;
	}
	.display-inline-block {
		display: inline-block !important;
		*display: inline;
		zoom: 1;
		vertical-align: middle !important;
	}
	.null-opacity {
		position: relative;
		@include filter(alpha(opacity=0));
		/* (7) @include filter(alpha(opacity=0)) was set before: old value:  - new value  */;
		@include opacity(0);
		z-index: 2;
	}
	.bold-font {
		font-weight: bold !important;
	}
	.full-width {
		width: 100% !important;
	}
	.date-plus-img {
		width: 93% !important;
	}
	#main-menu .menu-active {
		&:hover {
			@extend %extend_3;
		}
	}
	.mCSB_dragger .mCSB_dragger_bar {
		background: $color_3;
	}
	.mCSB_dragger_onDrag .mCSB_dragger_bar {
		background: $color_3;
	}
	.item-input select {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.mce-btn button {
		padding: 4px 5px;
		font-size: 2px;
		line-height: 9px;
		cursor: pointer;
		color: $color_88;
		text-align: center;
		overflow: visible;
	}
	.divider i {
		font-size: 0.2em;
		color: $color_91;
	}
	.ticket-list-active .number {
		color: $color_5;
	}
	.action-button:hover {
		color: $color_5;
	}
}
.default-btn {
	@include border-radius(5px);
	background-color: $color_4;
	border: none;
	color: $color_5;
	cursor: pointer;
	display: inline-block;
	*display: inline;
	zoom: 1;
	font-size: inherit;
	margin-right: 10px;
	min-width: 70px;
	padding: 5px;
	text-align: center;
	&:hover {
		background-color: $color_6;
		color: $color_5;
	}
	&:first-child {
		margin-top: 0;
	}
}
.table-nav {
	width: 100%;
	text-align: center;
}
.ticket-count {
	background-color: $color_5;
	padding: 6px 15px;
	@include border-radius(20px);
	border: 1px solid $color_7;
	color: $color_0;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.status {
	padding: 5px;
	@include border-radius(5px);
	color: $color_5;
	text-align: center;
	&:hover {
		color: $color_5;
	}
}
.priority-mark {
	background-color: $color_8;
	@include border-radius(6px);
	margin: 0;
	width: 6px;
	height: 6px;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.down-arrow {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid $color_10;
	display: inline-block;
	*display: inline;
	zoom: 1;
	position: relative;
	left: 4px;
}
.blacklist {
	background-color: $color_11;
	&:hover {
		background-color: $color_12;
	}
}
.respond-close {
	background-color: $color_13;
	&:hover {
		background-color: $color_14;
	}
}
.update-close {
	background-color: $color_13;
	&:hover {
		background-color: $color_14;
	}
}
.save-note {
	background-color: $color_15;
	&:hover {
		background-color: $color_16;
	}
}
.save-draft {
	background-color: $color_17;
	&:hover {
		background-color: $color_18;
	}
}
.cancel {
	background-color: $color_19;
	&:hover {
		background-color: $color_20;
	}
}
.delete {
	background-color: $color_21;
	&:hover {
		background-color: $color_22;
	}
}
.save {
	background-color: $color_23;
	&:hover {
		background-color: $color_24;
	}
}
.excel {
	background-color: $color_23;
	&:hover {
		background-color: $color_24;
	}
}
.create {
	background-color: $color_23;
	&:hover {
		background-color: $color_24;
	}
}
.respond {
	background-color: $color_25;
	&:hover {
		background-color: $color_26;
	}
}
.update {
	background-color: $color_25;
	&:hover {
		background-color: $color_26;
	}
}
.open {
	background: $color_23;
	&:hover {
		background-color: $color_27;
	}
}
.closed {
	background-color: $color_28;
	&:hover {
		background-color: $color_2;
	}
}
.overdue {
	&:hover {
		background-color: $color_29;
	}
	background-color: $color_21;
}
.hold {
	background-color: $color_30;
	&:hover {
		background-color: $color_31;
	}
}
.spam {
	background-color: $color_32;
	&:hover {
		background-color: $color_33;
	}
}
.archived {
	background-color: $color_15;
	&:hover {
		background-color: $color_34;
	}
}
#get-ticket {
	background-color: $color_0;
}
#outerbar {
	width: 50px;
	height: 100%;
	background-color: $color_36;
	text-align: center;
	position: relative;
	z-index: 10;
	ul {
		text-align: center;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			height: 47px;
			position: relative;
		}
	}
	.home-size {
		font-size: 1.2em;
	}
	a {
		@extend %extend_2;
		text-decoration: none;
		span {
			font-size: 9px;
		}
	}
	span {
		display: block;
		line-height: 1.5em;
	}
	.menu-color {
		color: $color_39;
	}
	.current-menu {
		background-color: $color_5;
	}
	.left-arrow {
		position: absolute;
		top: 43%;
		right: 0;
		width: 0;
		height: 0;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-right: 5px solid $color_5;
	}
	.mCSB_container {
		width: 100%;
	}
	.mCSB_scrollTools {
		@include filter(alpha(opacity=0));
		@include opacity(0);
	}
	.menu-base-color li {
		&:hover {
			background-color: $color_41;
		}
	}
	li img {
		margin-top: 10px;
	}
}
#toggle-menu {
	span {
		@extend %extend_2;
		font-size: 9px;
	}
	cursor: pointer;
}
#logo-icon {
	background-color: $color_38;
	padding: 12px 0;
	padding-bottom: 13px;
}
#utility-menu {
	i {
		margin-top: 10px;
	}
	li:hover {
		background-color: $color_45;
	}
}
#log-out {
	bottom: 2px;
	margin: 0 auto;
	vertical-align: bottom;
	width: 100%;
	height: 40px;
}
.menu-base-color {
	background-color: $color_40;
}
.menu-active {
	@extend %extend_3;
	a {
		i {
			color: $color_47 !important;
		}
		span {
			color: $color_47 !important;
		}
	}
}
.activemenu {
	color: $color_5;
	position: absolute;
	right: -1px;
	top: 35%;
	font-size: 0.9em;
}
.activemenu-nm {
	color: $color_46;
	position: absolute;
	right: -1px;
	top: 35%;
	font-size: 0.9em;
}
.menu-header {
	background: $color_48;
	margin: 10px 0;
	padding: 5px 10px;
	@include border-radius(5px);
	color: $color_5;
	cursor: pointer;
	&:hover {
		background: $color_49;
	}
	&:first-child {
		margin-top: 0;
	}
}
.menu-section {
	ul {
		list-style: none;
		color: $color_10;
		margin-left: 0;
		margin-bottom: 0;
		ul {
			padding-left: 10px;
			border-left: 1px dashed $color_50;
		}
	}
	font-size: 0.80em;
	color: $color_10;
	background: $color_51;
	padding: 10px;
	border: 1px solid $color_52;
	i {
		padding: 5px 5px 0;
	}
	span {
		display: inline-block;
		*display: inline;
		zoom: 1;
		vertical-align: middle;
	}
	a {
		color: inherit;
		&:hover {
			text-decoration: none;
		}
	}
	.fa {
		font-size: 0.7em;
		color: $color_8;
	}
	.ui-datepicker-trigger {
		i {
			font-size: 1em;
			color: $color_6;
			padding: 0;
		}
		top: -6px;
	}
}
#innermenu {
	.menu-section {
		textarea {
			line-height: 1.3em;
		}
		.item-holder {
			margin-top: 0px;
			margin-bottom: 0px;
			/* (1) margin-top was set before: old value: 5px - new value 0px */;
			&:first-child {
				margin-top: 0;
			}
		}
		.item-name {
			font-weight: bold;
		}
	}
	.arrow-up {
		border-bottom: 11px solid $color_53;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		height: 0;
		left: 97px;
		margin: 0;
		padding: 0;
		position: relative;
		top: 7px;
		width: 0;
	}
	#input-date-from {
	}
	#input-date-to {
	}
	width: 300px;
	background-color: $color_5;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	z-index: 5;
	li {
		cursor: pointer;
		line-height: 1.6em;
		&:hover {
			color: $color_54;
		}
	}
	input[type="text"] {
		width: 95%;
		padding: 2px 2%;
	}
	.mCSB_container {
		margin-right: 6px;
	}
	.item-holder .item-input {
		word-wrap: break-word;
		margin-bottom: 5px;
	}
	select:not([multiple]) {
		height: 26px;
	}
}
.row-fluid[class*="span"] {
	min-height: 10px !important;
}
.ticket-history {
	.title {
		width: 25%;
	}
	font-size: 0.85em;
}
.calendar-img {
	position: relative;
	top: -6px;
	left: 1px;
	cursor: pointer;
}
#searchbar {
	height: 49px;
	background-color: $color_1;
	width: 100%;
	position: relative;
	button {
		padding: 0px;
		background: none;
		border: 0;
		color: $color_47;
		font-size: 1em;
		width: 22px;
		height: 22px;
		i {
			@include text-shadow(0px 0 3px $color_55);
		}
	}
	input {
		margin: 0;
		@include border-radius(0);
	}
	input[type="text"] {
		width: 100px;
		font-size: 0.8em;
		@include border-radius(3px);
		padding: 0px 5px;
		margin: auto;
	}
	#menucontrol {
		position: absolute;
	}
	.iconcontainer {
		position: relative;
		color: $color_5;
		top: 11px;
		font-size: 1em;
		@include border-radius(5px);
		text-align: center;
		line-height: 26px;
	}
	.iconwh {
		width: 26px;
		height: 26px;
	}
	.iconcolor {
		background: $color_56;
	}
}
#search-form {
	position: absolute;
	top: 13px;
	left: 97px;
}
.notifytext {
	font-size: 0.75em;
	background: $color_5;
	color: $color_10;
	padding: 0px 6px;
	@include border-radius(5px);
	height: 26px;
	line-height: 26px;
	display: block;
}
.notifications {
	position: relative;
	right: 25px;
	i {
		font-size: 0.95em;
	}
	.badge {
		font-size: 0.7em;
		padding: 0 4px;
		background: $color_57;
		position: absolute;
		top: -4px;
		font-weight: inherit;
	}
}
.default-shadow {
	@include box-shadow(1px 1px 6px $color_58);
	border: 1px solid $color_58;
}
#notificationshow {
	cursor: pointer;
}
#notificationmain {
	position: absolute;
	top: 49px;
	right: 26px;
	background: $color_5;
	z-index: 271;
	width: 250px;
	border-top: 0;
}
.nmtable {
	tbody {
		tr {
			border-top: 1px solid $color_59;
			td {
				padding: 5px;
				&:nth-child(2) {
					font-size: 0.75em !important;
					line-height: 1.4em;
					color: $color_5;
				}
				&:nth-child(1) {
					text-align: center;
				}
				&:nth-child(3) {
					font-size: 0.75em;
					text-align: center;
					color: $color_5;
				}
			}
			&:first-child {
				border-top: 0;
			}
		}
		.nminfo td {
			&:nth-child(2) {
				color: inherit;
			}
		}
	}
	.warning {
		color: $color_60;
	}
	.danger {
		color: $color_61;
	}
	.notifyicon {
		font-size: 1.6em;
	}
	.information {
		color: $color_47;
		/* (2) color was set before: old value: $color_62 - new value $color_47 */;
	}
	.success {
		color: $color_71;
	}
	.status i {
		font-size: 2em;
	}
}
.nmclose {
	cursor: pointer;
	padding: 10px;
}
.notifycount {
	padding: 3px 10px;
	background: $color_63;
	border-bottom: 1px solid $color_59;
	font-size: 0.75em;
	font-weight: bold;
}
.nmwarning {
	background: $color_64;
	border-left: 4px solid $color_65;
	border-bottom: 1px solid $color_65;
	td:nth-child(3) {
		background: $color_66;
	}
}
.nmdanger {
	background: $color_57;
	border-left: 4px solid $color_67;
	border-bottom: 1px solid $color_67;
	td:nth-child(3) {
		background: $color_68;
	}
}
.nmsuccess {
	background: $color_69;
	border-left: 4px solid $color_70;
	border-bottom: 1px solid $color_70;
	td:nth-child(3) {
		background: $color_71;
	}
}
.nminfo {
	background: $color_63;
	border-left: 4px solid $color_3;
	border-bottom: 1px solid $color_47;
	td:nth-child(3) {
		background: $color_10;
	}
}
.is_admin {
	display: inline-block !important;
}
.indicator {
	position: absolute;
	right: 3px;
	top: 0px;
	color: $color_1;
	font-size: 2em;
	line-height: 0px !important;
}
.notifybase {
}
#menucontrol {
	left: 60px;
	&:hover {
		cursor: pointer;
	}
}
.focushelper {
	width: 100%;
	height: 100%;
	position: absolute;
	background: $color_43;
	z-index: 15;
	@include filter(alpha(opacity=90));
	@include opacity(0.9);
	display: none;
}
#side-menu {
	position: absolute;
	left: 15px;
	bottom: 0;
	width: 30px;
	height: 25px;
	background: $color_72;
	border: 2px solid $color_73;
	border-bottom: none;
	border-left: none;
}
#logo-text {
	position: relative;
	top: 19px;
	left: 16px;
}
#content-container {
	height: 100%;
	background-color: $color_46;
	position: relative;
	color: $color_2;
}
#content {
	position: relative;
	overflow: hidden;
	height: 100%;
	font-size: 0.85em;
}
.content-holder {
	padding: 10px;
	background-color: $color_5;
	border: 1px solid $color_74;
	@include border-radius(10px);
	margin-bottom: 10px;
}
#footer {
	height: 50px;
	background-color: $color_75;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 6;
	color: $color_76;
	font-size: 0.85em;
	text-align: right;
	select {
		margin-bottom: 0;
		margin-right: 10px;
		width: 90px;
		height: 26px;
	}
	a:hover {
		color: $color_5;
	}
}
.footer-btn {
	color: $color_5;
	@include border-radius(5px);
	display: inline-block;
	*display: inline;
	zoom: 1;
	min-width: 70px;
	text-align: center;
	font-size: inherit;
	margin-right: 10px;
	height: 28px;
	padding: 0 12px;
	line-height: 28px;
	border: none;
}
#footeralignment {
	position: relative;
	top: 11px;
}
#login-background {
	background-color: $color_77;
	height: 100%;
	position: relative;
}
#logincontainer {
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	width: 290px;
	top: 33%;
}
#login-top {
	position: relative;
	height: 70px;
	@include border-radius(5px 5px 0 0);
	background-color: $color_5;
	@include box-shadow(0 1px rgba(191, 191, 191, .75), inset 0 -1px rgba(255, 255, 255, .75));
}
#login-form-container {
	@include border-bottom-left-radius(5px);
	@include border-bottom-right-radius(5px);
	background-color: $color_78;
	border-top: 1px solid $color_50;
	padding: 30px;
}
#logo {
	position: absolute;
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
#login-checkbox {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}
.login-remember {
	font-size: 11px;
	color: $color_0;
	position: relative;
}
.login-area {
	text-align: right;
	margin-top: 14px;
}
#submit-button {
	width: 100%;
	background-color: $color_79;
	color: $color_5;
	padding: 8px;
	@include border-radius(4px);
	border: none;
	&:hover {
		background-color: $color_80;
	}
}
.error {
	@include border-radius(4px);
	background-color: $color_81;
	border: solid 1px $color_82;
}
.error-arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid $color_81;
	position: absolute;
	top: -5px;
	left: 47%;
}
.form-error {
	@include border-radius(5px);
	padding: 8px;
	color: $color_5;
	background: $color_81;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
}
.disabled-input {
	background-color: $color_50;
}
.item-input {
	input[type="radio"] {
		margin-right: 5px;
	}
	textarea {
		min-height: 100px;
		height: 100px;
		font-size: 1em;
	}
	span {
		margin-right: 18px;
	}
}
.item-holder {
	line-height: 16px;
	margin-bottom: 10px;
	color: $color_10;
	span {
		display: inline-block;
		*display: inline;
		zoom: 1;
		vertical-align: middle;
	}
	.item-name {
	}
	.item-input {
		width: 100%;
	}
	input[type="text"] {
		@extend %extend_5;
	}
	select {
		@extend %extend_5;
		padding-right: 5px;
	}
	input[type="password"] {
		@extend %extend_5;
	}
	textarea {
		padding: 0;
	}
}
input[type='text'] {
	font-size: 1em;
}
textarea {
	font-size: 1em;
}
.ui-datepicker-trigger {
	position: relative;
	left: 6px;
	cursor: pointer;
	border: none;
	background: none;
	font-size: 1.8em;
	color: $color_6;
	padding: 0;
	margin: 0;
}
.ui-widget-content {
	border: 1px solid $color_33;
	background: $color_5;
	color: $color_83;
}
.ui-datepicker {
	z-index: 30;
	.ui-datepicker-title select {
		font-family: arial, sans-serif;
	}
}
#ui-datepicker-div {
	.ui-state-default {
		border: 1px solid $color_86;
		background: $color_63;
		font-weight: normal;
		color: $color_85;
		@include border-radius(5px);
		text-align: center;
		font-size: 10px;
		&:hover {
			background-color: $color_87;
		}
	}
	font-family: arial, sans-serif;
	border: 1px solid $color_52;
	.ui-datepicker-prev {
		background: $color_85;
		@include border-radius(20px);
		.ui-icon {
			border-right: 5px solid $color_5;
			@extend %extend_7;
		}
	}
	.ui-datepicker-next {
		background: $color_85;
		@include border-radius(20px);
		.ui-icon {
			border-left: 5px solid $color_5;
			@extend %extend_7;
		}
	}
	.ui-icon {
		background: none;
		/* (3) background was set before: old value: none - new value none */;
	}
	.ui-icon-circle-triangle-w {
		background: none;
	}
	.ui-datepicker-calendar thead {
		background-color: $color_85;
		color: $color_5;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.ui-widget-header .ui-icon {
		background: none;
		/* (4) background was set before: old value: none - new value none */;
	}
	.ui-widget-content .ui-icon {
		background: none;
	}
}
.mce-container {
	font-size: 11px !important;
	* {
		font-size: 11px !important;
	}
}
.mce-widget {
	font-size: 11px !important;
	* {
		font-size: 11px !important;
	}
}
.ticket-holder {
	vertical-align: middle;
	position: relative;
	span {
		display: inline-block;
		*display: inline;
		zoom: 1;
	}
	.date-time {
		color: $color_5;
	}
}
.assigned {
	background-color: $color_85;
	color: $color_5;
	font-weight: bold;
	text-transform: uppercase;
}
.ticket-arrow-assigned {
	@extend %extend_9;
	border-left-color: $color_85;
	position: absolute;
}
.ticket-arrow-subject {
	@extend %extend_9;
	border-left-color: $color_48;
}
.subject {
	color: $color_5;
	background-color: $color_48;
	padding-left: 32px;
	position: relative;
	z-index: 0;
}
.ticket-header {
	background-color: $color_49;
	border: 1px solid $color_7;
	font-size: 0.85em;
	cursor: pointer;
	line-height: 20px;
}
.ticket-content {
	border: 1px solid $color_7;
	border-top: none;
	display: none;
	.subject-header {
		width: 100px;
		font-weight: bold;
	}
}
.ticket-response {
	.subject-header {
		width: 100px;
		font-weight: bold;
	}
	span {
		display: inline-block;
		*display: inline;
		zoom: 1;
	}
	input[type="text"] {
		width: 96%;
		display: inline-block;
		*display: inline;
		zoom: 1;
	}
	img {
		display: inline-block;
		*display: inline;
		zoom: 1;
		vertical-align: middle;
		cursor: pointer;
	}
}
.response-attributes {
	position: relative;
	font-size: 1em;
	span {
		cursor: pointer;
		padding: 0 5px;
		@include border-radius(5px);
		margin-right: 5px;
		margin-bottom: 5px;
		color: $color_85;
		/* (5) color was set before: old value: $color_85 - new value $color_2 */;
		font-weight: bold;
		&:hover {
		}
	}
}
.ticket-note {
	border: 1px dashed $color_50;
	background-color: $color_89;
	@include border-radius(5px);
	.note {
		margin-right: 20px;
		font-weight: bold;
	}
	.note-user {
		margin-right: 20px;
	}
}
.ticket-note-holder {
	margin-top: 10px;
	&:first-child {
		margin-top: 0;
	}
}
.ticket-note-content {
	border-left: none;
	border-right: none;
	color: $color_10;
	display: none;
}
.ticket-note-header {
	color: $color_10;
	cursor: pointer;
	border: 1px dashed $color_50;
	@include border-radius(5px);
	background-color: $color_89;
	font-size: 0.85em;
}
.note-img {
	position: absolute;
	top: 5px;
	cursor: pointer;
	right: 110px;
}
.ticket-note-icon-container {
	background-color: $color_90;
	border: 1px solid $color_7;
	@include border-radius(5px);
}
.note {
	img {
		margin-right: 5px;
		cursor: pointer;
	}
	margin-right: 10px;
}
.subject-text {
}
.note-user {
	margin-right: 10px;
}
.note-text {
	margin-right: 10px;
}
.ticket-left-arrow {
	border-right: 6px solid $color_4;
	margin-left: -2px;
	@extend %extend_10;
	&:hover {
		border-right: 5px solid $color_5;
	}
}
.ticket-right-arrow {
	border-left: 6px solid $color_4;
	margin-right: -2px;
	@extend %extend_10;
	&:hover {
		border-left: 5px solid $color_5;
	}
}
.ticket-top-arrow {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 7px solid $color_4;
	display: inline-block;
	*display: inline;
	zoom: 1;
	@include border-radius(1px);
	position: relative;
	top: -3px;
}
.ticket-helper {
	&:hover {
		.ticket-top-arrow {
			border-bottom-color: $color_5;
		}
		background-color: $color_4;
		.ticket-left-arrow {
			border-right-color: $color_5;
		}
		.ticket-right-arrow {
			border-left-color: $color_5;
		}
		.ticket-rectangle-block {
			background-color: $color_5;
		}
		.rect-horizontal {
			background: $color_5;
		}
		.rect-vertical {
			background: $color_5;
		}
		.back-arrow {
			border-right-color: $color_5;
		}
		.back_rectangle {
			background: $color_5;
		}
		.number {
			color: $color_5;
		}
		.rect-horizontal-list {
			background-color: $color_5;
		}
		.ticket-response-box {
			background-color: $color_5;
		}
		.ticket-arrow-base {
			border-top: 7px solid $color_5;
		}
	}
	display: inline-block;
	*display: inline;
	zoom: 1;
	@include border-radius(30px);
	width: 20px;
	height: 20px;
	line-height: 17px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	border: 2px solid $color_4;
	position: relative;
}
.ticket-rectangle-block {
	width: 2px;
	height: 6px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	background-color: $color_4;
}
.ui-nav-holder {
	background-color: $color_5;
	padding: 6px 7px;
	@include border-radius(20px);
	border: 1px solid $color_7;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.ui-nav-split {
	height: 22px;
	border-left: 1px solid $color_7;
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 10px;
	vertical-align: middle;
}
.ui-split-tickets {
	margin: 0 10px;
	vertical-align: middle;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.ui-split-circle {
	width: 2px;
	height: 2px;
	@include border-radius(20px);
	background: $color_91;
	margin-bottom: 2px;
}
.rect-horizontal {
	padding: 1px 5px;
	top: 9px;
	left: 5px;
	@extend %extend_11;
}
.rect-vertical {
	padding: 5px 1px;
	top: 5px;
	left: 9px;
	@extend %extend_11;
}
.back-arrow {
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 7px solid $color_4;
	display: inline-block;
	*display: inline;
	zoom: 1;
	@include border-radius(1px);
	position: relative;
	left: -3px;
	top: 1px;
}
.back_rectangle {
	background: $color_4;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	position: absolute;
	padding: 1px 4px;
	top: 9px;
	left: 7px;
}
.number {
	font-weight: 900;
	color: $color_4;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	font-size: 0.85em;
}
.rect-horizontal-list {
	height: 2px;
	background: $color_4;
	display: block;
	width: 10px;
	text-align: center;
	position: relative;
	margin: 1px 0;
}
.list-helper {
	line-height: 0;
	display: inline-block;
	*display: inline;
	zoom: 1;
	position: relative;
	top: 2px;
}
#viewswitch {
	line-height: 2.4em;
	font-size: 0.8em;
	i {
		left: 5px;
		position: relative;
	}
}
.icon_container {
	border: 2px solid $color_4;
	@include border-radius(199px);
	width: 20px;
	height: 20px;
	vertical-align: middle;
	cursor: pointer;
	i {
		position: relative;
		left: -1px;
	}
	&:hover {
		i {
			color: $color_5;
		}
		background: $color_4;
	}
}
.divider {
	margin: 0 10px;
	div {
		line-height: 0;
	}
}
#smartbar {
	.divider {
		i {
			font-size: 0.2em;
			color: $color_94;
			/* (6) color was set before: old value: $color_91 - new value $color_94 */;
		}
		padding: 0;
		margin: 0;
	}
	position: absolute;
	z-index: 5;
	right: 36px;
	bottom: 46px;
	background-color: $color_92;
	border: 3px solid $color_93;
	i {
		color: $color_4;
		font-size: 1em;
		cursor: pointer;
	}
}
.ticket-list-active {
	background: $color_4;
}
#smartbar>div {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	padding: 5px 10px;
	cursor: pointer;
}
.ticket-response-box {
	width: 12px;
	height: 6px;
	background-color: $color_4;
	display: block;
	position: relative;
	top: 6px;
	left: 4px;
}
.ticket-arrow-base {
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 7px solid $color_4;
	display: inline-block;
	*display: inline;
	zoom: 1;
	position: relative;
	top: -3px;
	left: -1px;
}
#template {
	.right-arrow {
		width: 0;
		height: 0;
		border-top: 3px solid transparent;
		border-bottom: 3px solid transparent;
		border-left: 5px solid $color_4;
	}
	.down-arrow {
		width: 0;
		height: 0;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		border-top: 5px solid $color_4;
		left: 0;
	}
	i {
		padding-right: 10px;
	}
	span {
		margin-right: 5px;
		cursor: pointer;
	}
	ul {
		li {
			cursor: pointer;
			@extend %extend_12;
		}
		margin-bottom: 0;
		margin-left: 10px;
	}
	div {
		@extend %extend_12;
		font-weight: bold;
	}
}
.block {
	width: 5px;
	height: 1px;
	background-color: $color_4;
	position: relative;
	top: -3px;
}
#choose-file {
	background: $color_95;
	position: relative;
	left: -276px;
	z-index: 1;
	height: 19px;
	line-height: 19px;
	padding: 2px 2px;
	cursor: pointer;
	font-size: 0.9em;
}
#ticket-filter {
	z-index: 50;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	i {
		font-size: 1.2em;
		color: $color_4;
	}
	.menu-header {
		margin: 0px;
		padding: 0px 10px;
		background-color: $color_62;
		@include border-radius(40px);
		&:hover {
			background-color: $color_4;
		}
	}
	.menu-section {
		display: none;
		width: 150px;
		margin-top: 10px;
		position: absolute;
		z-index: 1;
		background: $color_5;
		color: $color_0;
		span {
			font-weight: bold;
			color: $color_2;
		}
	}
	.up-arrow {
		position: absolute;
		top: -8px;
		left: 25px;
		width: 0;
		height: 0;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		border-bottom: 7px solid $color_47;
	}
	select {
		height: 25px;
		margin-bottom: 5px;
	}
	.datepicker {
		height: 14px;
		margin-bottom: 5px;
		width: 70%;
	}
	.ui-datepicker-trigger {
		top: -4px;
	}
	input[type="button"] {
		width: 100%;
	}
}
.menu-filter-btn {
	margin: 0px;
	padding: 2px 10px;
	background-color: $color_62;
	@include border-radius(40px);
}
#ticket-menu {
	position: relative;
}
#ticket-navigator {
	text-align: right;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.action-button {
	padding: 5px 10px;
	@include border-radius(5px);
	margin-right: 5px;
	text-align: center;
	color: $color_5;
}
.action-edit {
	background-color: $color_4;
	&:hover {
		background-color: $color_96;
	}
}
.action-prepare {
	background-color: $color_48;
	&:hover {
		background-color: $color_97;
	}
}
.action-delete {
	background-color: $color_21;
	&:hover {
		background-color: $color_29;
	}
}
.columnsdisplay {
	position: absolute;
	top: 45%;
}
.info {
	font-style: italic;
	font-family: serif;
	color: $color_5;
	font-weight: bolder;
}
.info-btn {
	background: $color_4;
	height: 15px;
	width: 15px;
	line-height: 14px;
}
.info-btn-small {
	background: $color_4;
	height: 12px;
	width: 12px;
	line-height: 0.8em;
	font-size: 0.9em;
}
.tick {
	color: $color_4;
	font-size: 14px;
}
.cross {
	font-size: 16px;
}
.settings-links {
	color: inherit;
	&:hover {
		color: $color_4;
	}
}
.settings-title {
	font-weight: bold;
}
.remove-row {
	min-width: 35px;
	font-size: 2em;
}
.help {
	margin-left: 10px;
	font-weight: bold;
	color: $color_4;
	cursor: pointer;
	&:hover {
		color: $color_98;
	}
}
.help-info {
	border: 1px solid $color_47;
	padding: 10px;
	@include border-radius(10px);
	background: $color_51;
}
.system {
	font-weight: bold;
}
.systemname {
	color: $color_21;
}
.email {
	color: $color_23;
}
.login-template {
	font-weight: bold;
}
.cal_num {
	position: absolute;
	top: 5px;
	left: 5px;
}
.select {
	font-weight: bold;
}
.select-all {
	cursor: pointer;
	font-weight: bold;
	color: $color_62;
	&:hover {
		color: $color_99;
	}
}
.select-none {
	cursor: pointer;
	font-weight: bold;
	color: $color_62;
	&:hover {
		color: $color_99;
	}
}
.lh_16px {
	line-height: 16px !important;
}
.ic-faded {
	color: $color_47;
}
.ic-backdrop {
	font-size: 57em;
	position: absolute;
	left: 36%;
	top: 19%;
}
td span {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}
#main-menu a {
	i {
		margin-top: 10px;
	}
}
table input[type="text"] {
	padding: 4px 0;
}
.nmsingle p {
	line-height: 1.2em;
	font-size: 0.8em;
}
#form-login input[type="password"] {
	padding: 6px 2%;
	width: 96%;
}
.contentlineheight .item-input {
	line-height: 2.2em !important;
}
.filterview i {
	font-size: 1.2em;
	color: $color_4;
}
.wtcal tr {
	td {
		height: 80px;
		width: 14.28%;
		border: 1px solid $color_52;
		position: relative;
	}
}
.fc-header-title h2 {
	font-size: 1.2em;
	line-height: 1.8em;
	color: inherit;
	font-weight: normal;
}
@media (max-width {
	&: 768px) {
	}
}