/*
Created on :   28-Jun-2013, 11:  02:  54
Author     :   Jonathan
 */

/***********************************
 * Global style changes            *
 ***********************************/
 html, body {
    height: 100%;
    overflow: hidden;
    color: #888;
}
body {
    padding: 0 !important;
}
body a {
    cursor: pointer;
    display: block;
}
body a:hover {
    text-decoration: none;
}
body .row-fluid[class*="span"] {
    min-height: 0;
    line-height: 26px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #476F9A;
}
/***********************************
 * Table styles                    *
 ***********************************/
 body table {
    width: 100%;
    color: #666;
}
body table a {
    color: #666;
    font-weight: normal;
    display: block;
}
body table a:hover {
    text-decoration: none;
    color: #bbb;
}
.default-btn {
    border-radius: 5px;
    background-color: #93bec7;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: inherit;
    margin-right: 10px;
    min-width: 70px;
    padding: 5px;
    text-align: center;
}
.default-btn:hover {
    background-color: #89b2ba;
    color: #fff;
}
.table-nav {
    width: 100%;
    text-align: center;
}
.ticket-count {
    background-color: #fff;
    padding: 6px 15px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    color: #888;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
body .table td {
    font-size: 0.85em;
    vertical-align: middle;
    padding: 3px 4px;
    line-height: 12px;
}
body .table {
    margin-bottom: 0;
}
body .table th {
    /*font-size:  0.85em;

     */
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
    padding: 5px 4px;
}
body table th a {
    display: inline;
    font-weight: bold;
}
td span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.status {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}
.status:hover {
    color: #fff;
}
.priority-mark {
    background-color: #999;
    border-radius: 6px;
    margin: 0;
    width: 6px;
    height: 6px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
body #ticket-number {
    color: #555;
    font-weight: bold;
}
.down-arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #777;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    left: 4px;
}
.blacklist {
    background-color: #273138;
}
.blacklist:hover {
    background-color: #1e262b;
}
.respond-close, .update-close {
    background-color: #716e9e;
}
.respond-close:hover, .update-close:hover {
    background-color: #676591;
}
.save-note {
    background-color: #efaf40;
}
.save-note:hover {
    background-color: #e5a029;
}
.save-draft {
    background-color: #94c174;
}
.save-draft:hover {
    background-color: #8cb76e;
}
.cancel {
    background-color: #4794ad;
}
.cancel:hover {
    background-color: #438aa0;
}
.delete {
    background-color: #c95353;
}
.delete:hover {
    background-color: #bc4f4f;
}
.save, .excel, .create {
    background-color: #5ab093;
}
.save:hover, .excel:hover, .create:hover {
    background-color: #56a589;
}
.respond, .update {
    background-color: #667e91;
}
.respond:hover, .update:hover {
    background-color: #5e7384;
}
.open {
    background: #5ab093;
}
.open:hover {
    background-color: #60ba9a;
}
.closed {
    background-color: #5c5c5c;
}
.overdue:hover {
    background-color: #d15757;
}
.hold {
    background-color: #5a8ab0;
}
.hold:hover {
    background-color: #6093ba;
}
.closed:hover {
    background-color: #666666;
}
.spam {
    background-color: #a2a2a2;
}
.spam:hover {
    background-color: #aaaaaa;
}
.archived {
    /*background-color:  #f0852b;

     */
    background-color: #efaf40;
}
.archived:hover {
    background-color: #f7c142;
}
.overdue {
    background-color: #c95353;
}
#get-ticket {
    background-color: #888;
}
body table .status-width {
    /*    width:  70px;

    padding:  0;

    text-align:  center;

     */
}
body .highlight {
    border: 2px solid #73716E;
    border-left: none;
    border-right: none;
}
/***********************************
 * Sidebar                         *
 ***********************************/
 #outerbar {
    width: 50px;
    height: 100%;
    background-color: #30343a;
    text-align: center;
    position: relative;
    z-index: 10;
}
#outerbar ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
#outerbar ul li {
    height: 47px;
    position: relative;
}
#outerbar .home-size {
    font-size: 1.2em;
}
#outerbar a, #toggle-menu span {
    color: #5e6872;
    height: 100%;
    display: block;
    /*font-size:  9px;

     */
}
#outerbar a span, #toggle-menu span {
    font-size: 9px;
}
#outerbar span {
    display: block;
    line-height: 1.5em;
}
#logo-icon {
    background-color: #273d55;
    padding: 12px 0;
    padding-bottom: 13px;
}
#main-menu a i, #utility-menu i {
    margin-top: 10px;
}
#outerbar .menu-color {
    color: #878787;
}
#outerbar a {
    text-decoration: none;
}
#log-out {
    /*position:  absolute;

     */
    bottom: 2px;
    margin: 0 auto;
    vertical-align: bottom;
    width: 100%;
    height: 40px;
}
.menu-base-color {
    background-color: #222529;
}
#outerbar .menu-base-color li:hover {
    background-color: #1d2023;
    /*border-top:   1px solid #26292d;

     */
    /*border-bottom:   1px solid #26292d;

     */
}
#outerbar li img {
    margin-top: 10px;
}
#outerbar .current-menu {
    background-color: #fff;
}
#outerbar .left-arrow {
    position: absolute;
    top: 43%;
    right: 0;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 5px solid #fff;
}
.menu-active, body #main-menu .menu-active:hover {
    background-color: #17191c;
    -webkit-box-shadow: inset 0 0 15px #111;
    box-shadow: inset 0 0 15px #111;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#toggle-menu {
    cursor: pointer;
}
#utility-menu li:hover {
    background-color: #2c3035;
}
.activemenu {
    color: #fff;
    position: absolute;
    right: -1px;
    top: 35%;
    font-size: 0.9em;
}
.activemenu-nm {
    color: #efefef;
    position: absolute;
    right: -1px;
    top: 35%;
    font-size: 0.9em;
}
.menu-active a i, .menu-active a span {
    color: #ddd !important;
}
/***********************************
 * Inner Menu                      *
 ***********************************/
 .menu-header {
    background: #6288b2;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.menu-header:hover {
    /*background:  #66819b;

     */
    background: #4c7199;
}
.menu-header:first-child {
    margin-top: 0;
}
.menu-section ul {
    list-style: none;
    color: #777;
    margin-left: 0;
    margin-bottom: 0;
}
.menu-section ul ul {
    padding-left: 10px;
    border-left: 1px dashed #d6d6d6;
}
.menu-section {
    font-size: 0.80em;
    color: #777;
    background: #fcfcfc;
    padding: 10px;
    border: 1px solid #f1f1f1;
}
.menu-section i {
    padding: 5px 5px 0;
}
#innermenu .item-holder .item-input {
    /*    line-height:   1em;
    */
    word-wrap: break-word;
    margin-bottom: 5px;
}
#innermenu select:not([multiple]) {
    height: 26px;
}
#innermenu .menu-section textarea {
    line-height: 1.3em;
}
body #innermenu .row-fluid[class*="span"] {
    min-height: 10px !important;
}
.row-fluid[class*="span"] {
    min-height: 10px !important;
}
/*#innermenu .row-fluid[class*="span"] {
    min-height: 0px;
}*/
 #innermenu .menu-section .item-holder {
    margin-top: 5px;
}
#innermenu .menu-section .item-name {
    /*line-height:  1.2em;
    */
}
#innermenu .menu-section .item-name {
    font-weight: bold;
}
#innermenu .menu-section .item-holder {
    margin-top: 0px;
    margin-bottom: 0px;
}
#innermenu .menu-section .item-holder:first-child {
    margin-top: 0;
}
.menu-section span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.ticket-history .title {
    width: 25%;
}
.ticket-history {
    font-size: 0.85em;
}
#innermenu .arrow-up {
    border-bottom: 11px solid #f9f9f9;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    height: 0;
    left: 97px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 7px;
    width: 0;
}
#innermenu #input-date-from, #innermenu #input-date-to {
    /*width:  150px;

     */
}
body #innermenu div .date-with-img {
    width: 84%;
}
.calendar-img {
    position: relative;
    top: -6px;
    left: 1px;
    cursor: pointer;
}
#innermenu {
    width: 300px;
    background-color: #fff;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 5;
}
#innermenu li {
    cursor: pointer;
    line-height: 1.6em;
}
#innermenu li:hover {
    color: #708daa;
}
#innermenu input[type="text"] {
    width: 95%;
    padding: 2px 2%;
}
.menu-section a {
    color: inherit;
}
.menu-section a:hover {
    text-decoration: none;
}
body .innermenu-content .item-name, body .innermenu-content .item-input {
    font-size: 0.8em !important;
}
body .innermenu-content .item-name {
    font-weight: bold !important;
}
.menu-section .fa {
    font-size: 0.7em;
    color: #999;
}
.menu-section .ui-datepicker-trigger i {
    font-size: 1em;
    color: #89b2ba;
    padding: 0;
}
.menu-section .ui-datepicker-trigger {
    top: -6px;
}
table input[type="text"] {
    padding: 4px 0;
}
/***********************************
 * Header                          *
 ***********************************/
 #searchbar {
    height: 49px;
    background-color: #476f9a;
    width: 100%;
    position: relative;
}
#search-form {
    position: absolute;
    top: 13px;
    left: 97px;
}
#searchbar button {
    padding: 0px;
    background: none;
    border: 0;
    color: #ddd;
    font-size: 1em;
    width: 22px;
    height: 22px;
}
#searchbar button i {
    text-shadow: 0px 0px 3px #458771;
}
#searchbar input {
    margin: 0;
    border-radius: 0;
}
#searchbar input[type="text"] {
    width: 100px;
    /* height:   12px;

     */
    font-size: 0.8em;
    /* line-height:   0.8em;

     */
    /* padding-left:   5px;

     */
    border-radius: 3px;
    padding: 0px 5px;
    margin: auto;
}
#searchbar #menucontrol {
    position: absolute;
}
#searchbar .iconcontainer {
    position: relative;
    color: #fff;
    top: 11px;
    font-size: 1em;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
}
#searchbar .iconwh {
    width: 26px;
    height: 26px;
}
#searchbar .iconcolor {
    background: #3d5d7f;
}
.notifytext {
    font-size: 0.75em;
    background: #fff;
    color: #777;
    padding: 0px 6px;
    border-radius: 5px;
    height: 26px;
    line-height: 26px;
    display: block;
}
.notifications {
    position: relative;
    right: 25px;
}
.notifications i {
    font-size: 0.95em;
}
.notifications .badge {
    font-size: 0.7em;
    padding: 0 4px;
    background: #d9534f;
    position: absolute;
    top: -4px;
    font-weight: inherit;
}
.default-shadow {
    -webkit-box-shadow: 1px 1px 6px #ccc;
    box-shadow: 1px 1px 6px #ccc;
    border: 1px solid #ccc;
}
#notificationshow {
    cursor: pointer;
}
#notificationmain {
    position: absolute;
    top: 49px;
    right: 26px;
    background: #fff;
    z-index: 271;
    width: 250px;
    border-top: 0;
}
.nmtable {
    /*border-top: 1px solid #eee;*/
}
.nmtable tbody tr {
    border-top: 1px solid #eee;
}
.nmtable tbody tr td {
    padding: 5px;
}
.nmtable tbody tr:first-child {
    border-top: 0;
}
.nmtable .warning {
    color: #d38434
}
.nmtable .status i {
    font-size: 2em
}
.nmtable .danger {
    color: #ad4140
}
.nmtable tbody tr td:nth-child(2) {
    font-size: 0.75em !important;
    line-height: 1.4em;
    color:#fff;
}
.nmtable tbody tr td:nth-child(1) {
    /*padding: 10px;*/
    text-align: center;
}
.nmtable tbody tr td:nth-child(3) {
    /*padding: 10px;*/
    font-size: 0.75em;
    text-align: center;
    color: #fff;
}
.nmtable .notifyicon {
    font-size: 1.6em;
}
.nmtable .information {
    color: #92BDC7;
}
.nmclose {
    cursor:pointer;
    padding: 10px;
}
.notifycount {
    padding: 3px 10px;
    background: #fafafa;
    border-bottom: 1px solid #eee;
    font-size: 0.75em;
    font-weight: bold;
}
.nmwarning {
    background: #f0ad4e;
    border-left: 4px solid #cc8726;
    border-bottom: 1px solid #cc8726;
}
.nmwarning td:nth-child(3) {
    background: #e8963a;
}
.nmdanger {
    background: #d9534f;
    border-left: 4px solid #aa312f;
    border-bottom: 1px solid #aa312f;
}
.nmdanger td:nth-child(3) {
    background: #c44a4a;
}
.nmsuccess {
    background: #9ec986;
    border-left: 4px solid #739161;
    border-bottom: 1px solid #739161;
}
.nmsuccess td:nth-child(3) {
    background: #85a870;
}
.nmtable .success {
    color: #85a870
}
.nminfo {
    background: #fafafa;
    border-left: 4px solid #bbb;
    border-bottom: 1px solid #ddd;
}
.nminfo td:nth-child(3) {
    background: #777;
}
.nmtable tbody .nminfo td:nth-child(2) {
    color: inherit;
}
.nmtable .information {
    color: #ddd
}
.nmsingle p {
    line-height: 1.2em;
    font-size: 0.8em;
}
.is_admin {
    display: inline-block !important;
}
.indicator {
    position: absolute;
    right: 3px;
    top: 0px;
    color: #476f9a;
    font-size: 2em;
    line-height: 0px !important;
}
.notifybase {
    /*border-top: 1px solid #eee;*/
}
#menucontrol {
    left: 60px;
}
#menucontrol:hover {
    cursor: pointer;
}
.focushelper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #111;
    z-index: 15;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    display: none;
}
#side-menu {
    position: absolute;
    left: 15px;
    bottom: 0;
    width: 30px;
    height: 25px;
    background: #d2d2d2;
    border: 2px solid #3f6387;
    border-bottom: none;
    border-left: none;
}
/***********************************
 * Main Body                       *
 ***********************************/
 #logo-text {
    position: relative;
    top: 19px;
    left: 16px;
}
#content-container {
    height: 100%;
    background-color: #efefef;
    position: relative;
    color: #666;
}
#content {
    position: relative;
    overflow: hidden;
    height: 100%;
    font-size: 0.85em;
}
.content-holder {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e5e5ef;
    border-radius: 10px;
    margin-bottom: 10px;
}
/***********************************
 * Scrollbar                       *
 ***********************************/
 body .mCSB_container {
    margin-right: 15px;
}
body .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #ccc;
}
body .mCSB_scrollTools .mCSB_draggerRail {
    background: #eee;
    width: 4px;
}
#innermenu .mCSB_container {
    margin-right: 6px;
}
body .mCSB_scrollTools {
    background: #fff;
}
body .mCSB_dragger .mCSB_dragger_bar {
    background: #bbb;
}
body .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, body .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #bbb;
}
body .mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #bbb;
}
body .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #bbb;
}
body .mCSB_draggerContainer {
    margin: 10px 0;
}
body #content .mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 100%;
    height: 3px;
    margin: 1px auto;
    border-radius: 10px;
}
body #content .mCSB_horizontal .mCSB_draggerContainer {
    margin-top: 0;
}
body #content .mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    margin: auto auto;
}
#outerbar .mCSB_container {
    width: 100%;
}
#outerbar .mCSB_scrollTools {
    /*width:  10%;

     */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
/***********************************
 * Footer                          *
 ***********************************/
 #footer {
    height: 50px;
    background-color: #36434d;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 6;
    color: #f2f2f2;
    font-size: 0.85em;
    /*left:   50px;

     */
    text-align: right;
}
.footer-btn {
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    min-width: 70px;
    text-align: center;
    font-size: inherit;
    margin-right: 10px;
    height: 28px;
    padding: 0 12px;
    line-height: 28px;
    border: none;
}
#footer select {
    margin-bottom: 0;
    margin-right: 10px;
    width: 90px;
    height: 26px;
}
#footeralignment {
    position: relative;
    /*left:  60px;
    */
    top: 11px;
}
#footer a:hover {
    color: #fff;
}
/***********************************
 * Login Page                      *
 ***********************************/
 #login-background {
    background-color: #29323a;
    height: 100%;
    position: relative;
}
#logincontainer {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 290px;
    top: 33%;
}
#login-top {
    position: relative;
    height: 70px;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px rgba(191, 191, 191, .75), inset 0 -1px rgba(255, 255, 255, .75);
    box-shadow: 0 1px rgba(191, 191, 191, .75), inset 0 -1px rgba(255, 255, 255, .75);
}
#login-form-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ebebeb;
    border-top: 1px solid #d6d6d6;
    padding: 30px;
}
#logo {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#login-checkbox {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.login-remember {
    font-size: 11px;
    color: #888;
    position: relative;
}
.login-area {
    text-align: right;
    margin-top: 14px;
}
/***********************************
 * Forms                           *
 ***********************************/
 #submit-button {
    width: 100%;
    background-color: #8ab089;
    /*border:  solid 1px #838d95;

     */
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    border: none;
}
#submit-button:hover {
    background-color: #82a581;
}
.error {
    border-radius: 4px;
    background-color: #b05454;
    border: solid 1px #838d95;
}
.error-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #b05454;
    position: absolute;
    top: -5px;
    left: 47%;
}
.form-error {
    border-radius: 5px;
    padding: 8px;
    color: #fff;
    background: #b05454;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}
body button {
    padding: 8px 2%;
    border-radius: 4px;
}
body #form-login input[type="text"], body #form-login textarea, #form-login input[type="password"] {
    padding: 6px 2%;
    width: 96%;
}
body select, body textarea, body input[type="text"], body input[type="password"] {
    color: #777;
    width: 100%;
    font-size: 0.9em;
}
body select {
    padding-left: 0;
}
body form {
    margin: 0;
    padding: 0;
}
.disabled-input {
    background-color: #d6d6d6;
}
.item-input input[type="radio"] {
    margin-right: 5px;
}
.item-input textarea {
    min-height: 100px;
    height: 100px;
    font-size: 1em;
}
.item-input span {
    margin-right: 18px;
}
body .item-input select {
    margin-bottom: 10px;
}
body .item-input select:last-child {
    margin-bottom: 0;
}
.item-holder {
    line-height: 16px;
    margin-bottom: 10px;
    color: #777;
}
.item-holder span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.item-holder .item-name {
    /*line-height:  12px !important;

     */
    /*font-weight:  bold;

     */
}
.item-holder .item-input {
    width: 100%;
    /*font-size:   0.9em*/
}
.contentlineheight .item-input {
    line-height: 2.2em !important;
}
.item-holder input[type="text"], .item-holder select, .item-holder input[type="password"] {
    margin-bottom: 0;
    /*font-size:  1em;

     */
    padding-right: 0;
    margin-right: 0;
    margin: 0;
    padding: 5px 0;
}
.item-holder select {
    padding-right: 5px;
}
.item-holder textarea {
    padding: 0;
}
body .icheckbox_square-grey, body .iradio_square-grey {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 4px;
}
body input[disabled], body select[disabled], body textarea[disabled], body input[readonly], body select[readonly], body textarea[readonly] {
    background-color: #fff;
}
input[type='text'], textarea {
    font-size: 1em;
}
/***********************************
 * Calendar overwrites             *
 ***********************************/
 .ui-datepicker-trigger {
    position: relative;
    /*    top:  -6px;

     */
    left: 6px;
    cursor: pointer;
}
.ui-datepicker-trigger {
    border: none;
    background: none;
    font-size: 1.8em;
    color: #89b2ba;
    padding: 0;
    margin: 0;
}
.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff;
    color: #222222;
}
.ui-datepicker {
    z-index: 30;
}
body #ui-datepicker-div .ui-widget-header {
    background: #f7f7f7;
    border: 1px solid #f1f1f1;
    font-size: 10px;
    font-family: arial, sans-serif;
    margin-bottom: 3px;
}
body #ui-datepicker-div .ui-datepicker-title {
    font-family: arial, sans-serif;
}
.ui-datepicker .ui-datepicker-title select {
    font-family: arial, sans-serif;
}
body .ui-datepicker select.ui-datepicker-month, body .ui-datepicker select.ui-datepicker-year {
    width: 35%;
    margin-right: 4px;
}
body #ui-datepicker-div .ui-state-active:hover {
    background: #93bec7;
}
#ui-datepicker-div .ui-datepicker-calendar thead {
    /*background-color:  #93bec7;

     */
    background-color: #7499c1;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}
body #ui-datepicker-div .ui-state-active {
    background-color: #7499c1;
    color: #fff;
    border: 1px solid #7499c1;
}
#ui-datepicker-div .ui-state-default {
    border: 1px solid #e8e8e8;
    background: #fafafa;
    font-weight: normal;
    color: #7499c1;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
}
#ui-datepicker-div .ui-state-default:hover {
    background-color: #f5f5f5;
}
#ui-datepicker-div {
    font-family: arial, sans-serif;
    border: 1px solid #f1f1f1;
}
#ui-datepicker-div .ui-datepicker-prev, #ui-datepicker-div .ui-datepicker-next {
    /*background:  #93bec7;

     */
    background: #7499c1;
    border-radius: 20px;
}
#ui-datepicker-div .ui-datepicker-prev .ui-icon {
    border-right: 5px solid #fff;
}
#ui-datepicker-div .ui-datepicker-next .ui-icon {
    border-left: 5px solid #fff;
}
#ui-datepicker-div .ui-datepicker-prev .ui-icon, #ui-datepicker-div .ui-datepicker-next .ui-icon {
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
#ui-datepicker-div .ui-widget-header .ui-icon {
    background: none;
}
#ui-datepicker-div .ui-icon {
    background: none;
}
body .ui-datepicker .ui-datepicker-prev span, body .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: relative;
    left: 0;
    margin: 0;
    top: 6px;
    cursor: pointer;
}
body .ui-datepicker .ui-datepicker-prev, body .ui-datepicker .ui-datepicker-next {
    top: 10px;
    cursor: pointer;
}
body .ui-datepicker .ui-datepicker-prev {
    left: 16px;
}
body .ui-datepicker .ui-datepicker-next {
    right: 16px;
}
body .ui-datepicker .ui-datepicker-prev span {
    left: 6px;
}
body .ui-datepicker .ui-datepicker-next span {
    left: 7px;
}
#ui-datepicker-div .ui-icon-circle-triangle-w {
    background: none;
}
#ui-datepicker-div .ui-icon, #ui-datepicker-div .ui-widget-content .ui-icon {
    background: none;
}
#ui-datepicker-div .ui-widget-header .ui-icon {
    background: none;
}
body .ui-state-hover {
    border: none;
}
/***********************************
 * tinymce overwrites              *
 ***********************************/
 body .mce-panel {
    border: 0 solid #d6d6d6;
}
body .mce-btn button {
    padding: 4px 5px;
    font-size: 2px;
    line-height: 9px;
    cursor: pointer;
    color: #333;
    text-align: center;
    overflow: visible;
    -webkit-appearance: none;
}
body .mce-ico {
    width: 16px;
    height: 16px;
}
.mce-container, .mce-container *, .mce-widget, .mce-widget * {
    font-size: 11px !important;
}
/***********************************
 * Ticket                          *
 ***********************************/
 .ticket-holder {
    vertical-align: middle;
    position: relative;
}
.ticket-holder span {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.assigned {
    /*background-color:  #7faeb8;

     */
    background-color: #7499c1;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.ticket-arrow-assigned, .ticket-arrow-subject {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 18px solid;
    position: relative;
    z-index: 1;
}
.ticket-arrow-assigned {
    /*border-left-color:  #7faeb8;

     */
    border-left-color: #7499c1;
    position: absolute;
    /*z-index:   22;

     */
}
.ticket-arrow-subject {
    /*border-left-color:  #93bec7;

     */
    border-left-color: #6288b2;
}
.subject {
    color: #fff;
    /*background-color:  #93bec7;

     */
    background-color: #6288b2;
    /*margin-left:  -17px;

     */
    padding-left: 32px;
    position: relative;
    z-index: 0;
}
.ticket-header {
    /*background-color:  #fdfdfd;

     */
    background-color: #4c7199;
    border: 1px solid #f0f0f0;
    font-size: 0.85em;
    cursor: pointer;
    line-height: 20px;
}
.ticket-holder .date-time {
    color: #fff;
}
.ticket-content {
    border: 1px solid #f0f0f0;
    border-top: none;
    display: none;
}
.ticket-content .subject-header {
    width: 100px;
    font-weight: bold;
}
.ticket-response .subject-header {
    width: 100px;
    font-weight: bold;
}
.ticket-response span {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.ticket-response input[type="text"] {
    /*width:  375px;

     */
    width: 96%;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.ticket-response img {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    cursor: pointer;
}
.response-attributes {
    position: relative;
    font-size: 1em;
    /*margin-left:  103px;

     */
    /*margin-bottom:  10px;

     */
}
.response-attributes span {
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #7499c1;
    color: #666;
    font-weight: bold;
}
.response-attributes span:hover {
    /*background-color:  #6288b2;

     */
    /*background-color:   #84aab2;

     */
}
.ticket-note {
    border: 1px dashed #d6d6d6;
    background-color: #fffed4;
    border-radius: 5px;
}
.ticket-note-holder {
    margin-top: 10px;
}
.ticket-note-holder:first-child {
    margin-top: 0;
}
.ticket-note-content {
    /*background:  #fffef9;

     */
    border-left: none;
    border-right: none;
    color: #777;
    display: none;
    /*margin-bottom:  -6px;

     */
}
.ticket-note .note {
    margin-right: 20px;
    font-weight: bold;
}
.ticket-note .note-user {
    margin-right: 20px;
}
.ticket-note-header {
    color: #777;
    cursor: pointer;
    border: 1px dashed #d6d6d6;
    border-radius: 5px;
    background-color: #fffed4;
    font-size: 0.85em;
}
.note-img {
    position: absolute;
    top: 5px;
    cursor: pointer;
    right: 110px;
}
.ticket-note-icon-container {
    background-color: #fdfdfd;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}
.note img {
    margin-right: 5px;
    cursor: pointer;
}
.subject-text {
    /*padding-top:   10px*/
}
body .subject-header {
    width: 100px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-weight: bold;
    position: relative;
}
.note, .note-user, .note-text {
    margin-right: 10px;
}
.ticket-left-arrow {
    border-right: 6px solid #93bec7;
    margin-left: -2px;
}
.ticket-right-arrow {
    border-left: 6px solid #93bec7;
    margin-right: -2px;
}
.ticket-left-arrow, .ticket-right-arrow {
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.ticket-top-arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid #93bec7;
    display: inline-block;
    *display: inline;
    zoom: 1;
    border-radius: 1px;
    position: relative;
    top: -3px;
}
.ticket-helper:hover .ticket-top-arrow {
    border-bottom-color: #fff;
}
.ticket-rectangle-block {
    width: 2px;
    height: 6px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background-color: #93bec7;
}
.ticket-helper {
    display: inline-block;
    *display: inline;
    zoom: 1;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    line-height: 17px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: 2px solid #93bec7;
    position: relative;
}
.ticket-helper:hover {
    background-color: #93bec7;
}
.ticket-helper:hover .ticket-left-arrow {
    border-right-color: #fff;
}
.ticket-helper:hover .ticket-right-arrow {
    border-left-color: #fff;
}
.ticket-helper:hover .ticket-rectangle-block {
    background-color: #fff;
}
.ticket-left-arrow:hover {
    border-right: 5px solid #fff;
}
.ticket-right-arrow:hover {
    border-left: 5px solid #fff;
}
.ui-nav-holder {
    background-color: #fff;
    padding: 6px 7px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.ui-nav-split {
    height: 22px;
    border-left: 1px solid #f0f0f0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 10px;
    vertical-align: middle;
}
.ui-split-tickets {
    margin: 0 10px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.ui-split-circle {
    width: 2px;
    height: 2px;
    border-radius: 20px;
    background: #dadada;
    margin-bottom: 2px;
}
.rect-horizontal {
    padding: 1px 5px;
    top: 9px;
    left: 5px;
}
.rect-vertical {
    padding: 5px 1px;
    top: 5px;
    left: 9px;
}
.ticket-helper:hover .rect-horizontal, .ticket-helper:hover .rect-vertical {
    background: #fff;
}
.rect-horizontal, .rect-vertical {
    background: #93bec7;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    position: absolute;
}
.back-arrow {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 7px solid #93bec7;
    display: inline-block;
    *display: inline;
    zoom: 1;
    border-radius: 1px;
    position: relative;
    left: -3px;
    top: 1px;
}
.ticket-helper:hover .back-arrow {
    border-right-color: #fff;
}
.ticket-helper:hover .back_rectangle {
    background: #fff;
}
.back_rectangle {
    background: #93bec7;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    position: absolute;
    padding: 1px 4px;
    top: 9px;
    left: 7px;
}
.number {
    font-weight: 900;
    color: #93bec7;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    font-size: 0.85em;
}
.ticket-helper:hover .number {
    color: #fff;
}
.ticket-helper:hover .rect-horizontal-list {
    background-color: #fff;
}
.rect-horizontal-list {
    height: 2px;
    background: #93bec7;
    display: block;
    width: 10px;
    text-align: center;
    position: relative;
    margin: 1px 0;
}
.list-helper {
    line-height: 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    top: 2px;
}
#viewswitch {
    line-height: 2.4em;
    font-size: 0.8em;
}
.icon_container {
    border: 2px solid #93bec7;
    border-radius: 199px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.icon_container i {
    position: relative;
    left: -1px;
}
.icon_container:hover i {
    color:#fff;
}
.icon_container:hover {
    background: #93bec7;
}
#viewswitch i {
    left: 5px;
    position: relative;
}
.divider {
    margin: 0 10px;
}
body .divider i, #smartbar .divider i {
    font-size: 0.2em;
    color: #dadada;
}
.divider div {
    line-height: 0;
}
.ticket-list-active {
    background: #93bec7;
}
body .ticket-list-active .number {
    color: #fff;
}
#smartbar {
    position: absolute;
    z-index: 5;
    right: 36px;
    bottom: 46px;
    background-color: #536675;
    /* padding:  3px 0px;
     */
    border: 3px solid #41505b;
}
#smartbar>div {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    padding: 5px 10px;
    cursor: pointer;
}
#smartbar .divider i {
    color: #38454f;
}
#smartbar .divider {
    padding: 0;
    margin: 0;
}
#smartbar i {
    color: #93bec7;
    font-size: 1em;
}
#smartbar i {
    cursor: pointer;
}
.ticket-response-box {
    width: 12px;
    height: 6px;
    background-color: #93bec7;
    display: block;
    position: relative;
    top: 6px;
    left: 4px;
}
.ticket-arrow-base {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 7px solid #93bec7;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    top: -3px;
    left: -1px;
}
.ticket-helper:hover .ticket-response-box {
    background-color: #fff;
}
.ticket-helper:hover .ticket-arrow-base {
    border-top: 7px solid #fff;
}
/* Response box*/
 #template .right-arrow {
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 5px solid #93bec7;
}
#template .down-arrow {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid #93bec7;
    left: 0;
}
#template i {
    padding-right: 10px;
}
#template span {
    margin-right: 5px;
}
#template span, #template ul li {
    cursor: pointer;
}
#template div, #template ul li {
    list-style-type: none;
    font-size: 0.9em;
    font-weight: normal;
}
#template ul {
    margin-bottom: 0;
    margin-left: 10px;
}
#template div {
    font-weight: bold;
}
.block {
    width: 5px;
    height: 1px;
    background-color: #93bec7;
    position: relative;
    top: -3px;
}
/* Attachments */
 #choose-file {
    background: #444;
    position: relative;
    left: -276px;
    z-index: 1;
    height: 19px;
    line-height: 19px;
    padding: 2px 2px;
    cursor: pointer;
    font-size: 0.9em;
}
/*Ticket filter component*/
 #ticket-filter {
    /*width:   107px;

     */
    z-index: 50;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
#ticket-filter i {
    font-size: 1.2em;
    color: #93bec7;
}
.filterview i {
    font-size: 1.2em;
    color: #93bec7;
}
.menu-filter-btn {
    margin: 0px;
    padding: 2px 10px;
    background-color: #92BDC7;
    border-radius: 40px;
}
#ticket-menu {
    position: relative;
}
#ticket-filter .menu-header {
    margin: 0px;
    padding: 0px 10px;
    background-color: #92BDC7;
    border-radius: 40px;
}
#ticket-filter .menu-section {
    display: none;
    width: 150px;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    background: #fff;
    color: #888;
}
#ticket-filter .menu-section span {
    font-weight: bold;
    color: #666;
}
#ticket-filter .up-arrow {
    position: absolute;
    top: -8px;
    left: 25px;
    width: 0;
    height: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 7px solid #ddd;
}
#ticket-navigator {
    text-align: right;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
#ticket-filter select {
    height: 25px;
    margin-bottom: 5px;
}
#ticket-filter .datepicker {
    height: 14px;
    margin-bottom: 5px;
    width: 70%;
}
#ticket-filter .ui-datepicker-trigger {
    top: -4px;
}
#ticket-filter input[type="button"] {
    width: 100%;
}
#ticket-filter .menu-header:hover {
    background-color: #93bec7;
}
/***********************************
 * Reports
 ***********************************/
 .action-button {
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    text-align: center;
    color: #fff;
}
body .action-button:hover {
    color: #fff;
}
.action-edit {
    background-color: #93bec7;
}
.action-edit:hover {
    /*background-color:   #8bb4bc*/
    background-color: #9ac8d1;
}
.action-prepare {
    background-color: #6288b2;
}
.action-prepare:hover {
    background-color: #688fba;
}
.action-delete {
    background-color: #c95353;
}
.action-delete:hover {
    background-color: #d15757;
}
.columnsdisplay {
/*    position: absolute;
    top: 45%;*/
    cursor: pointer;
}
/***********************************
 * Settings
 ***********************************/
 .info {
    font-style: italic;
    font-family: serif;
    color: #fff;
    font-weight: bolder;
}
.info-btn {
    background: #93bec7;
    height: 15px;
    width: 15px;
    line-height: 14px;
}
.info-btn-small {
    background: #93bec7;
    height: 12px;
    width: 12px;
    line-height: 0.8em;
    font-size: 0.9em;
}
body .layout-helper a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    display: block;
}
body .layout-helper a:hover {
    color: #93bec7;
}
.tick {
    color: #93bec7;
    font-size: 14px;
}
.cross {
    /*color:   #d63b3b;

     */
    font-size: 16px;
}
body .layout-helper {
    color: inherit;
}
.settings-links {
    color: inherit;
}
.settings-links:hover {
    color: #93bec7;
}
.settings-title {
    font-weight: bold;
}
.remove-row {
    min-width: 35px;
    font-size: 2em;
}
.help {
    margin-left: 10px;
    font-weight: bold;
    color: #93bec7;
    cursor: pointer;
}
.help:hover {
    color: #74979e;
}
.help-info {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background: #fcfcfc;
}
.system {
    font-weight: bold;
}
.systemname {
    color: #c95353;
}
.email {
    color: #5ab093;
}
.login-template {
    font-weight: bold;
}
/* WORK TIME CALENDAR */
 .wtcal tr td {
    height: 80px;
    width: 14.28%;
    border: 1px solid #f1f1f1;
    position: relative;
}
.cal_num {
    position: absolute;
    top: 5px;
    left: 5px;
}
.fc-header-title h2 {
    font-size: 1.2em;
    line-height: 1.8em;
    color: inherit;
    font-weight: normal;
}
/***********************************
 * Search                          *
 ***********************************/
 .select {
    font-weight: bold;
}
.select-all, .select-none {
    cursor: pointer;
    font-weight: bold;
}
.select-all:hover, .select-none:hover {
    color: #7ca0a8;
}
.select-all {
    color: #92bdc7;
}
.select-none {
    color: #92bdc7;
}
/***********************************
 * Helpers                         *
 ***********************************/
 body .align-left {
    float: left;
}
body .align-right {
    float: right;
}
body .default-padding {
    padding: 10px !important;
}
body .padding-top-bottom {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
body .default-margin {
    margin: 20px !important;
}
body .margin-bottom-5px {
    margin-bottom: 5px !important;
}
body .margin-left {
    margin-left: 10px !important;
}
body .margin-right {
    margin-right: 10px !important;
}
body .margin-top {
    margin-top: 10px !important;
}
body .null-margin {
    margin: 0 !important;
}
body .null-margin-top {
    margin-top: 0 !important;
}
body .null-margin-bottom {
    margin-bottom: 0 !important;
}
body .null-margin-left {
    margin-left: 0 !important;
}
body .null-margin-right {
    margin-right: 0 !important;
}
body .null-padding {
    padding: 0 !important;
}
body .null-padding-top {
    padding-top: 0 !important;
}
body .align-top {
    vertical-align: top !important;
}
body .hide {
    display: none;
}
body .display {
    display: block !important;
}
body .display-inline {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
    vertical-align: middle !important;
}
body .display-inline-block {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
    vertical-align: middle !important;
}
body .null-opacity {
    position: relative;
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* IE 8 */
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Good browsers */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 2;
}
body .bold-font {
    font-weight: bold !important;
}
body .full-width {
    width: 100% !important;
}
body .date-plus-img {
    width: 93% !important;
}
.lh_16px {
    line-height: 16px !important;
}
@media (max-width: 768px) {
    .default-btn {
        margin-top: 10px;
    }
    .default-btn:first-child {
        margin-top: 0;
    }
}
/***********************************
 * Font icons                      *
 ***********************************/
 .ic-faded {
    color: #ddd;
}
.ic-backdrop {
    font-size: 57em;
    position: absolute;
    left: 36%;
    top: 19%;
}
